@media screen {
  body {
    margin: auto;
    text-align: center;
    max-width: 600px;
  }
  div.grid-wrapper {
    display: grid;
    grid-template-areas: "header header" "bio contact";
    gap: 0 .5rem;
  }
  header {
    grid-area: header;
  }
  section.bio {
    grid-area: bio;
  }
  section.contact {
    grid-area: contact;
  }
  a:link {
    background-color: yellow;
    font-weight: bolder;
    color: orangered;
  }
  a:hover, a:visited {
    color: orangered;
  }
  img {
    display: block;
    margin: auto;
  }
  ul li {
    display: block;
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid orangered;
  }
}