@media screen {
  body {
    margin: auto;
    text-align: center;
    max-width: 600px;
  }
  div.grid-wrapper {
    display: grid;
    grid-template-areas: "header header" "bio contact";
    gap: 0 0.5rem;
    border: 1px solid darkgray;
    padding: 0 1rem;
  }
  header {
    grid-area: header;
  }
  section.bio {
    grid-area: bio;
  }
  section.contact {
    grid-area: contact;
  }

  .two-cols>ul {
    margin: 0;
    padding: 0;
  }
  .contact ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .contact ul li {
    flex-grow: 1;
  }
  div.two-cols {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 200px;
  }
  ul.labels {
    text-align: right;
    margin-right: 0.5rem;
  }
  ul.values {
    text-align: left;
  }

  a:link {
    font-weight: bolder;
    color: orangered;
  }
  a:hover,
  a:visited {
    color: orangered;
  }
  img {
    display: block;
    margin: auto;
  }
  ul li {
    display: block;
    list-style: none;
  }
}
